/* GLOBALES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --principal: #b222bf;
    --separador: #f2f2f2;
}

html {
    font-size: 62.5%; /* 1 Rem = 10px */
}

body {
    line-height: 1.5;
    overflow-x: hidden;
}




/* CONTENEDOR */

.container {
    max-width: 120rem;
    margin: 0 auto;
}

/* NAVBAR */

nav .navbar-brand {
    font-size: 2.5rem;
}

nav .nav-link {
    font-size: 2rem;
}

/* HEADER */

.header {
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
}

.content {
    max-width: 49rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}

.header-video {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.header-video video {
    min-width: 100%;
    min-height: 100%;
}

.header-content {
    z-index: 1;
    margin: 0 auto;
}


.header-content h1 {
    font-size: 5rem;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}


/* QUE HACEMOS */

.que-hacemos {
    margin-top: 10rem;
}

.eventos {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
}

.card {
    border: none;
}

.card img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card h3 {
    background-color: var(--principal);
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    height: 6rem;
    line-height: 3rem;
    color: white;
    text-align: center;
    padding-top: 1rem;
    border-radius: 0 0 10px 10px;
}

.card h3:hover {
    background-color: #a907b8;
}

/* QUIENES SOMOS */

.quienes-somos {
    margin-top: 10rem;
    background-color: var(--separador);
    padding: 10rem;
    text-align: center;
}

.quienes-somos h2 {
    text-align: center;
    display: inline-block;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 3rem;
    margin-bottom: 3rem;
    border-bottom: 2px solid var(--principal);
    padding-bottom: 1rem;
}

.quienes-somos p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.9rem;
    text-align: center;
}



/* SERVICIOS */

.servicios {
    margin-top: 10rem;
    margin-bottom: 20rem;
    text-align: center;
}

.servicios h2 {
    display: inline-block;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 3rem;
    margin-top: 4rem;
    margin-bottom: 8rem;
    border-bottom: 2px solid var(--principal);
    padding-bottom: 1rem;
}

.servicios-icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.servicios-icons {
    text-align: center;
}

.card-serv img {
    filter: invert(21%) sepia(76%) saturate(3668%) hue-rotate(285deg) brightness(86%) contrast(95%);
    height: 5rem;
    margin: 2rem;
}

.card-serv h3 {
    margin-top: 1.5rem;
}

/* UBICACIÓN */

.ubicacion {
    margin-top: 20rem;
    background-color: var(--separador);
    text-align: center;
}

.ubicacion h3{
    display: inline-block;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 3rem;
    margin-top: 8rem;
    margin-bottom: 8rem;
    border-bottom: 2px solid var(--principal);
    padding-bottom: 1rem;
    padding-top: 8rem;
    
}


/* FOOTER */

footer {
    height: 80px;
    background-color: #262929;
}

.texto-footer {
    padding-top: 2rem;
}

footer p {
    text-align: center;
    color: white;
    margin: 0;
    font-size: 1.3rem;
}
